.container,body,html,main {
    height: 100%
}

@media (orientation: landscape) {
    .container,body,html,main {
        height:fit-content
    }
}

@keyframes fadein {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes sk-circleFadeDelay {
    0%,39%,to {
        opacity: 0
    }

    40% {
        opacity: 1
    }
}

@keyframes sk-circleFadeDelay {
    0%,39%,to {
        opacity: 0
    }

    40% {
        opacity: 1
    }
}

body {
    font-family: Roboto,sans-serif;
    margin: 0;
    color: #1f2226;
    font-size: 14px
}

@media (min-width: 1024px) {
    body {
        font-size:16px
    }
}

* {
    box-sizing: border-box
}

.btn {
    padding: 14px 40px;
    background-color: #377fbc;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    transition: .3s;
    font-weight: 500;
    border-style: none;
    cursor: pointer;
    margin-top: 32px
}

.btn:hover {
    background-color: #00103c
}

.text {
    font-size: 12px;
    line-height: 1.5
}

a {
    color: inherit;
    font-size: inherit
}

.grecaptcha-badge {
    display: none
}

main {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto
}

main>.background-container {
    display: none
}

@media (min-width: 1024px) {
    main>.background-container {
        background-color:#163767;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1
    }
}

main>.background-container #background-image {
    animation: fadein 1s
}

@media (min-width: 1024px) {
    main>.background-container #background-image {
        width:100%;
        height: 100%;
        object-fit: cover;
        object-position: center
    }
}

main>.container {
    min-height: 100vh;
    display: flex;
    align-items: center
}

@media (min-width: 1024px) {
    main>.container {
        padding:32px 6vw
    }
}

main>.container>.right {
    background-color: #fff
}

@media (max-width: 1023px) {
    main>.container>.right {
        display:flex;
        align-items: center;
        min-height: 100vh;
        margin: auto;
        padding: 32px 16px
    }
}

@media (min-width: 1024px) {
    main>.container>.right {
        border-radius:16px;
        width: 560px;
        margin-left: auto;
        padding: 56px 40px
    }
}

@media (min-width: 2000px) {
    main>.container>.right {
        position:absolute;
        left: 50%;
        top: 50%;
        transform: translate(25%,-50%)
    }
}

main>.container>.right #pantheon-logo {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 80%;
    opacity: .05;
    transform: translateX(50%)
}

@media (min-width: 1024px) {
    main>.container>.right #pantheon-logo {
        display:none
    }
}

main>.container>.right .login-container {
    z-index: 1
}

main>.container>.right .login-container #header-logo {
    margin-bottom: 40px;
    display: block
}

@media (max-width: 1023px) {
    main>.container>.right .login-container #header-logo {
        width:205px;
        margin-left: auto;
        margin-right: auto
    }
}

@media (min-width: 1024px) {
    main>.container>.right .login-container #header-logo {
        width:216px
    }
}

@media (max-width: 1023px) {
    main>.container>.right .login-container #header-title {
        text-align:center
    }
}

main>.container>.right .login-container #header-title .title {
    font-family: NeoSansPro,Roboto,Helvetica,Arial,sans-serif;
    color: #163767;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 8px
}

@media (min-width: 1024px) {
    main>.container>.right .login-container #header-title .title {
        font-size:48px
    }
}

main>.container>.right .login-container #header-title .subtitle {
    font-family: NeoSansPro,Roboto,Helvetica,Arial,sans-serif;
    color: #163767;
    margin: 0
}

@media (min-width: 1024px) {
    main>.container>.right .login-container #header-title .subtitle {
        font-size:20px
    }
}

main>.container>.right .login-container .validation-error {
    color: #d32f2f;
    margin-top: 8px;
    display: none
}

@media (max-width: 1023px) {
    main>.container>.right .login-container .validation-error {
        text-align:center
    }
}

main>.container>.right .login-container .notice {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
    border-radius: 8px;
    text-align: left;
    margin: 16px 0;
    background-color: rgba(253,236,235,.5);
    color: #d32f2f
}

main>.container>.right .login-container .notice .icon {
    height: 24px;
    width: 24px;
    font-size: 16px;
    fill: #d32f2f
}

main>.container>.right .login-container #login-form {
    margin-top: 32px
}

main>.container>.right .login-container #login-form .input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin: 24px 0
}

main>.container>.right .login-container #login-form .input-container input {
    width: 100%;
    border-radius: 6px;
    padding: 12px 45px 12px 16px;
    border: 1px solid #4b5667;
    color: #1f2226;
    outline: none;
    font-size: 16px
}

main>.container>.right .login-container #login-form .input-container input[type=password] {
    letter-spacing: .3em
}

main>.container>.right .login-container #login-form .input-container input:focus~label,main>.container>.right .login-container #login-form .input-container input:valid~label {
    top: -12px;
    font-size: 12px;
    background: #fff;
    padding: 5px 5px 0
}

main>.container>.right .login-container #login-form .input-container.has-error input {
    border: 1px solid #d32f2f
}

main>.container>.right .login-container #login-form .input-container.has-error input:focus~label,main>.container>.right .login-container #login-form .input-container.has-error input:valid~label,main>.container>.right .login-container #login-form .input-container.has-error label {
    color: #d32f2f
}

main>.container>.right .login-container #login-form .input-container .icon {
    height: 20px;
    position: absolute;
    right: 16px;
    cursor: pointer;
    fill: #000
}

main>.container>.right .login-container #login-form .input-container .icon.hidden {
    display: none
}

main>.container>.right .login-container #login-form .input-container label {
    position: absolute;
    pointer-events: none;
    left: 16px;
    top: 12px;
    transition: all .25s ease
}

main>.container>.right .login-container #login-form .forgotten-credentials-link {
    display: block;
    width: max-content;
    margin-left: auto;
    font-size: 14px;
    margin-bottom: 24px
}

main>.container>.right .login-container #login-form .recaptcha-v2 #recaptcha-v2 {
    min-height: 78px
}

main>.container>.right .login-container #login-form .recaptcha-v2 .recaptcha-note {
    font-size: 10px;
    color: #616161
}

main>.container>.right .login-container #login-form .right-footer {
    margin-top: 10px
}

main>.container>.right .login-container #login-form .right-footer #recaptcha-logo {
    width: 20px;
    margin-right: 5px;
    vertical-align: middle
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container {
    display: flex
}

@media (max-width: 1023px) {
    main>.container>.right .login-container #login-form .right-footer .submit-button-container {
        justify-content:center;
        align-items: center
    }
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn {
    overflow: hidden;
    position: relative
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn[disabled][disabled] {
    color: #e0e0e0;
    box-shadow: none;
    cursor: not-allowed;
    opacity: .4
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn::-moz-focus-inner {
    border: none
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    opacity: 0;
    transition: opacity .2s
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px;
    height: 32px;
    background-color: #fff;
    opacity: 0;
    transform: translate(-50%,-50%) scale(1);
    transition: opacity 1s,transform .5s
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn:focus {
    box-shadow: 0 2px 4px -1px hsla(0,0%,100%,.2),0 4px 5px 0 hsla(0,0%,100%,.14),0 1px 10px 0 hsla(0,0%,100%,.12)
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn:focus:before {
    opacity: .24
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn:hover {
    box-shadow: 0 2px 4px -1px hsla(0,0%,100%,.2),0 4px 5px 0 hsla(0,0%,100%,.14),0 1px 10px 0 hsla(0,0%,100%,.12)
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn:hover:before {
    opacity: .08
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn:hover:focus:before {
    opacity: .3
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn:active {
    box-shadow: 0 5px 5px -3px hsla(0,0%,100%,.2),0 8px 10px 1px hsla(0,0%,100%,.14),0 3px 14px 2px hsla(0,0%,100%,.12)
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn:active:after {
    opacity: .32;
    transform: translate(-50%,-50%) scale(0);
    transition: transform 0s
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn:disabled {
    color: #fff;
    box-shadow: none;
    cursor: not-allowed;
    opacity: .4
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn:disabled:after,main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn:disabled:before {
    opacity: 0
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn .loading-i,main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn .loading-p {
    display: none
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn .loading-p {
    position: absolute
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn .sk-fading-circle {
    margin-bottom: -1px;
    margin-right: 5px;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 12px;
    left: 12px
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn .sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn .sk-fading-circle .sk-circle:before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s ease-in-out infinite both;
    animation: sk-circleFadeDelay 1.2s ease-in-out infinite both
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn .sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg)
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn .sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn .sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg)
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn .sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn .sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn .sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -.9s;
    animation-delay: -.9s
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn .sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg)
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn .sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -.8s;
    animation-delay: -.8s
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn .sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg)
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn .sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -.7s;
    animation-delay: -.7s
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn .sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn .sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -.6s;
    animation-delay: -.6s
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn .sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg)
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn .sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -.5s;
    animation-delay: -.5s
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn .sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg)
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn .sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -.4s;
    animation-delay: -.4s
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn .sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg)
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn .sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -.3s;
    animation-delay: -.3s
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn .sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg)
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn .sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -.2s;
    animation-delay: -.2s
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn .sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg)
}

main>.container>.right .login-container #login-form .right-footer .submit-button-container .btn .sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -.1s;
    animation-delay: -.1s
}

footer {
    display: none
}

@media (min-width: 1024px) {
    footer {
        display:block;
        position: absolute;
        bottom: 5vh;
        left: 4vw;
        font-size: 12px;
        color: #fff
    }
}

